@import './variables';

main {
  width: 100%;
  color: $whiteColor;
}

.colorPickerContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  & .colorSection {
    border: 2px solid $whiteColor;
    border-radius: 20px;
    min-width: 300px;
    min-height: 300px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  &.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
